<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Hello wop</div>
    <a href="/listen-audio"><button type="button">open-mic</button></a>
    <a href="/save-audio"><button type="button">save</button></a>
    <a href="/qn-openai?qn=আমার পেট খুব খারাপ ব্যাথা করছে"
      ><button type="button">speak</button></a
    >
  </body>
</html>
