<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenMed</title>
  </head>
  <body>
    
    <!-- keep the image at center -->
    <div style="text-align: center">
      <h1>OpenMed</h1>
      <img
        src="https://thumbs.dreamstime.com/b/indian-doctor-woman-23462721.jpg"
        alt="audio player"
      />
      <% if (audioBuffer) { %>
        <audio autoplay>
          <source
            src="data:audio/mp3;base64,<%= audioBuffer.toString('base64') %>"
            type="audio/mp3"
          />
        </audio>
      <% } %>
  </body>
</html>
